body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #ffffff; /* Set body background to white */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888888 #e0e0e0; /* Subtle colors for the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;
