.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    color: #333;
    border-radius: 5px;
}

.sidebar-item .icon {
    margin-right: 10px;
    font-size: 18px; /* Adjust the size as needed */
}

.sidebar-item.active {
    background-color: #e0e0e0;
    font-weight: bold;
}
